<div th:insert="layout.html" />

<div class="container mt-5 mb-5 text-center">
  <img data-aos="fade-down" data-aos-duration="2500" th:src="@{/img/undraw_diet_ghvw.svg}" alt="undraw" width="450px">
  <h1 data-aos="fade-down" data-aos-duration="2000">Aplikasi Manajemen Pemesanan</h1>
  <p data-aos="fade-down" data-aos-duration="1500">Aplikasi Manajemen Pemesanan (APM) adalah aplikasi untuk manajemen
    pemesanan pada restoran
    anda.
  </p>
  <p data-aos="fade-down" data-aos-duration="1000">Aplikasi ini digunakan untuk manajemen oleh kasir dan owner restoran.
  </p>
</div>

<footer th:replace="fragments/footer.html::footer" />