<div th:insert="layout.html" />

<div class="container my-5">
  <h1 class="mb-3" data-aos="fade-down" data-aos-duration="1000">Laporan Penjualan</h1>

  <button type="button" class="btn btn-success" id="export" data-aos="fade-down"
    data-aos-duration="1000">Export</button>

  <div class="table-responsive" data-aos="fade-down" data-aos-duration="1000">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Nama Pelanggan</th>
          <th scope="col">Nomor Meja</th>
          <th scope="col">Nama Produk</th>
          <th scope="col">Harga</th>
          <th scope="col">Tanggal Pesan</th>
          <th scope="col">Jumlah</th>
          <th scope="col">Subtotal</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="pesanan, i : ${allPesanan}">
          <th scope="row" th:text="${i.index + 1}"></th>
          <td th:text="${pesanan.nama_pelanggan}"></td>
          <td th:text="${pesanan.no_meja}"></td>
          <td th:text="${pesanan.produk.nama_produk}"></td>
          <td th:text="${'Rp. ' + #numbers.formatDecimal(pesanan.produk.harga, 0, 'COMMA', 0, 'POINT')}"></td>
          <td th:text="${pesanan.tgl_pesan}"></td>
          <td th:text="${pesanan.jumlah}"></td>
          <td th:text="${'Rp. ' + #numbers.formatDecimal(pesanan.subtotal, 0, 'COMMA', 0, 'POINT')}"></td>
        </tr>
        <tr>
          <td colspan="7" class="fw-bold text-end">Total : </td>
          <td colspan="1" th:text="${'Rp. ' + #numbers.formatDecimal(total, 0, 'COMMA', 0, 'POINT')}"></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>
<script>
  $(document).ready(function () {
    $("#export").click(function () {
      let table = document.getElementsByTagName("table");
      TableToExcel.convert(table[0], {
        name: `laporan.xlsx`,
        sheet: {
          name: 'laporan'
        }
      });
    });
  });
</script>

<footer th:replace="fragments/footer.html::footer" />