<div th:replace="layout.html" />

<div class="container my-5">
  <h1>Produk</h1>

  <button type="button" class="btn btn-primary my-4" data-bs-toggle="modal" data-bs-target="#tambahProduk"
    data-bs-whatever="@mdo">Tambah Produk</button>

  <div class="modal fade" id="tambahProduk" tabindex="-1" aria-labelledby="tambahProdukLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="tambahProdukLabel">Tambah Produk</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="#" th:action="@{/produk/simpan}" th:object="${produkDto}" method="post">
            <div class="mb-3">
              <label for="nama_produk" class="col-form-label">Nama Produk:</label>
              <input type="text" class="form-control" id="nama_produk" name="nama_produk">
            </div>
            <div class="mb-3">
              <label for="harga" class="col-form-label">Harga: </label>
              <input type="number" class="form-control" id="harga" name="harga">
            </div>
            <div class="mb-3">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nama Produk</th>
          <th scope="col">Harga</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="produk,i : ${allProduk}">
          <th scope="row" th:text="${i.index + 1}"></th>
          <td th:text="${produk.nama_produk}"></td>
          <td th:text="${'Rp. ' + #numbers.formatDecimal(produk.harga, 0, 'COMMA', 0, 'POINT')}">Otto</td>
          <td><a th:href="@{/produk/hapus/{id}(id=${produk.id})}" class="btn btn-danger">Hapus</a></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<footer th:replace="fragments/footer.html::footer" />